/*
 Theme Name:   Astra Child Ed
 Theme URI:    http://ejemplo.com/astra-child-ed
 Description:  Tema hijo de Astra para portafolio de Ed
 Author:       Ed
 Author URI:   http://ejemplo.com
 Template:     astra
 Version:      1.0.0
 Text Domain:  astra-child
*/